name: pypi

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Set up uv
      uses: astral-sh/setup-uv@v6
    - name: Install dependencies
      run: |
        uv pip install --system setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.XPLIQUE_TOKEN }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
